openapi: 3.0.3
info:
  title: Auto Body Shop - Enterprise Staging Platform API
  description: >-
    Continuous Integration, Shadow Staging, and Hot-Swap Deployment Engine for Autonomous AI
    Agents. Implemented by server.py in this directory. Additions beyond the original contract
    are marked "(extension)": optional admin key, 409/422 responses, the optional telemetry
    `version` for shadow traces, and the candidates/versions/health endpoints.
  version: 1.0.0
servers:
  - url: https://api.autobodyshop.io
    description: Production Gateway
  - url: http://localhost:8090
    description: Local (python3 server.py)
components:
  securitySchemes:
    AdminKey:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: >-
        (extension) Required on admin routes when the server is started with ABS_ADMIN_KEY;
        mandatory in production (ABS_ENV=production refuses to start without it).
  responses:
    Unauthorized:
      description: (extension) Missing or invalid X-Admin-Key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: (extension) Request body failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    AgentConfigResponse:
      type: object
      properties:
        version:
          type: string
          example: v1.0.0
        system_instruction:
          type: string
          example: Extract target entities into valid JSON strictly conforming to schema.
    TelemetryPayload:
      type: object
      required:
        - agent_id
        - latency_ms
        - success
      properties:
        agent_id:
          type: string
          example: bot_alpha
        latency_ms:
          type: number
          format: float
          minimum: 0
          example: 245.5
        success:
          type: boolean
          example: true
        version:
          type: string
          description: >-
            (extension) Version this trace ran against. Omit for live traffic (attributed to the
            ACTIVE version). Set it to a STAGED version for shadow runs, so candidates collect
            their own metrics before anyone approves them. Shadow traces are never fed to the
            optimizer as evidence about the live version.
          example: v1726800000
    ActionPayload:
      type: object
      required:
        - agent_id
        - version
      properties:
        agent_id:
          type: string
          example: bot_alpha
        version:
          type: string
          description: >-
            For approve, the STAGED candidate to promote. For rollback, the currently ACTIVE
            version being rolled back; a mismatch returns 409 instead of demoting whatever
            happens to be live.
          example: v1726800000
    CandidatePayload:
      type: object
      required:
        - agent_id
        - system_instruction
      properties:
        agent_id:
          type: string
          example: bot_alpha
        system_instruction:
          type: string
          example: Extract target entities into valid JSON strictly conforming to schema.
    ErrorResponse:
      type: object
      properties:
        detail:
          type: string
          example: Resource not found
paths:
  /v1/config/{agent_id}:
    get:
      summary: Fetch Active Configuration
      description: Returns the currently approved, active system instruction for a production agent.
      operationId: getActiveConfig
      parameters:
        - name: agent_id
          in: path
          required: true
          description: Unique identifier for the agent (e.g., bot_alpha).
          schema:
            type: string
      responses:
        '200':
          description: Active configuration retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentConfigResponse'
        '404':
          description: No active configuration found for the specified agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/telemetry:
    post:
      summary: Ingest Agent Telemetry
      description: >-
        Records live agent execution metrics. Automatically queues background staging
        optimization upon reaching batch thresholds (every ABS_BATCH_SIZE traces per agent,
        default 100). The optimizer only ever stages a candidate; it never promotes one.
      operationId: ingestTelemetry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryPayload'
      responses:
        '200':
          description: Telemetry successfully logged.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: INGESTED
                  total_traces:
                    type: integer
                    description: Traces recorded for this agent so far.
                    example: 200
        '404':
          description: (extension) `version` was given but does not exist for this agent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/approve:
    post:
      summary: Approve Staged Candidate Version
      description: Promotes a staged prompt version to ACTIVE status and archives the previous active configuration.
      operationId: approveStagingVersion
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionPayload'
      responses:
        '200':
          description: Version promoted to active production environment.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: SUCCESS
                  message:
                    type: string
                    example: Version v1726800000 promoted to production.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Candidate build not found or invalid status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/rollback:
    post:
      summary: Emergency Rollback
      description: >-
        Demotes the current active configuration (to ROLLED_BACK, so a later rollback never
        brings it back) and restores the last known archived stable version.
      operationId: rollbackToPrevious
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActionPayload'
      responses:
        '200':
          description: Emergency rollback completed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ROLLED_BACK
                  message:
                    type: string
                    example: Agent restored to last stable configuration.
                  restored_version:
                    type: string
                    description: (extension) The version that is now ACTIVE.
                    example: v1726700000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: (extension) The agent has no active configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: >-
            (extension) `version` is not the active version, or there is no archived version to
            restore. Nothing is changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/candidates:
    post:
      summary: (extension) Stage a Candidate Manually
      description: >-
        Stages a hand-written system instruction. This is also how an agent gets its first
        configuration: stage it, then approve it.
      operationId: stageCandidate
      security:
        - AdminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CandidatePayload'
      responses:
        '201':
          description: Candidate staged.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: STAGED
                  version:
                    type: string
                    example: v1726800000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/versions/{agent_id}:
    get:
      summary: (extension) Version History and Optimization Jobs
      description: >-
        Every version with its status, provenance and per-version telemetry (trace count,
        success rate, mean latency), plus every optimization job and its outcome. Use it to
        compare a staged candidate's shadow metrics with the live version's before approving.
      operationId: listVersions
      security:
        - AdminKey: []
      parameters:
        - name: agent_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: History for the agent (empty lists if unknown).
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'

  /health:
    get:
      summary: (extension) Liveness and Configuration
      operationId: health
      responses:
        '200':
          description: Server is up.
          content:
            application/json:
              schema:
                type: object
